* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

.main {
    width: 
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-image {

}

.nav-links {
   
}